<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mcpgenesys-cqbmdzbybkepd9ep.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dd79a486-f827-4770-b023-cf67523c6ed7/resourceGroups/mcpservergenesys/providers/Microsoft.Web/sites/mcpgenesys</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://mcpgenesys-cqbmdzbybkepd9ep.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UseBlobContainerDeploy>true</UseBlobContainerDeploy>
  </PropertyGroup>
</Project>